@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.button{
    display: block;
    width: 100%;
    max-width: 411px;
    height: 56px;
    margin: 0 auto;
    background-color: vars.$accent-red-color;
    border: none;
    color: vars.$color-white;
    font-family: Cinzel, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    cursor: pointer;
    transition: vars.$effectDuriation;

    &:hover{
      background-color: vars.$red-hover-color;
    }

    &:active{
      background-color: vars.$red-pressed-color;
    }
  }
