@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.footer{
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/footer_bg.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 180px;

  @include mixins.on-tablet{
    height: 360px;
  }
}
