@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.icon{
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  @include mixins.hover(transform, scale(1.2));

  @include mixins.on-tablet{
    width: 32px;
    height: 32px;
  }

  &--phone{
    background-image: url(../images/icons/Icon-Phone-call.svg);
    background-repeat: no-repeat;
  }

  &--menu{
    background-image: url(../images/icons/Icon-Burger-menu.svg);
    background-repeat: no-repeat;

    &:hover{
      background-image: url(../images/icons/Icon-Burger-menu-hover.svg);
    }
  }

  &--close{
    background-image: url(../images/icons/Icon-Close.svg);
    background-repeat: no-repeat;
  }

}
