@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.menu{
  box-sizing: border-box;
  height: 100vh;
  background-color: vars.$accent-red-color;
  text-transform: uppercase;
  font-weight: 700;
  overflow: auto;

  &__top{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__nav{
    padding-bottom: 32px;
  }
}
