@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.nav{

  &__list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link{
    position: relative;
    text-decoration: none;
    color: vars.$color-white;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid vars.$accent-red-color;
    transition: all vars.$effectDuriation;

    &::after{
      content: '';
      display: block;
      width: 100%;
      position: absolute;
      bottom: -8px;
      height: 1px;
      background-color: vars.$color-white;
      transition: transform vars.$effectDuriation;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after{
      transform: scale(1);

    }
  }
}

.contacts-info-menu{

  &__item{
    display: block;
    color: vars.$color-white;
    text-decoration: none;
    font-size: 16px;
    line-height: 27PX;
  }

  &__phone{
    display: block;
    margin-bottom: 8px;
    color: vars.$color-white;
    text-decoration: none;
    font-size: 16px;
    line-height: 27PX;
  }

  &__call{
    margin-top: 16px;
    display: block;
    width: fit-content;
    color: vars.$color-white;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 8px;
    border-bottom: 1px solid vars.$color-white;
  }
}
