@use '../utils/mixins' as mixins;
@use '../utils/variables' as vars;

.section{

  &__title{
    margin: 0;
    margin-bottom: 32px;
    font-size:  32px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;

    @include mixins.on-tablet{
      font-size: 48px;
      margin-bottom: 48px;
    }

    &--align-left{
      text-align: left;
    }

    &--with-subtitle{
      margin-bottom: 8px;
    }
  }

  &__subtitle{
    text-align: center;
    margin-bottom: 32px;
    max-width: 390px;
    margin-inline: auto;

    @include mixins.on-tablet{
      margin-bottom: 48px;
    }
  }
}
