@use './utils/variables' as vars;
@use './utils/mixins' as mixins;
@use './blocks/page';
@use './blocks/header';
@use './blocks/top-bar';
@use './blocks/icons';
@use './blocks/menu';
@use './blocks/nav';
@use './blocks/contacts';
@use './blocks/section';
@use './blocks/about';
@use './blocks/on-view';
@use './blocks/explore-online';
@use './blocks/footer';
@use './blocks/button';


.main {
  background-color: vars.$color-white;

  &__content {
    display: grid;
    justify-content: center;
    row-gap: 100px;
    padding-top: 100px;

    @include mixins.on-tablet {
      padding-top: 140px;
      row-gap: 140px;
    }
  }
}
